body{
  background-color: #f4e1d2;
}

canvas{
  border-radius: 10px;
}

table{
  table-layout: fixed;
}

/* ProductManagement Forms */
.prodMgtForm{
  z-index: 100;
  position: absolute;
  width: 50%;
  height: auto;
  left: 25%;
  top: 25%;
  margin: auto;
}

/* Animation for alert */
#fadeOut{
  animation: fadeOut 3s;
}

@keyframes fadeOut {
  0% {opacity: 1}
  25% {opacity: 1}
  50% {opacity: 1}
  75% {opacity: 1}
  100% {opacity: 0}
}

.alertContainer{
  max-width: 20%;
  position: absolute !important;
  top: 20%;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

/* Tweak bootstrap */
.navbar-custom{
  background-color: #b2b2b2;
}

.container-fluid{
  /* Forces max width for container fluid to 80% of the screen */
  max-width: 80% !important;
}

.carousel{
  width: 80%;
  margin: auto;
}

.carousel-item{
  max-height: 400px;
}

.dropdown-toggle{
  width:150px !important;
}


/* Custom toggle switch*/
.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ee1111;
  transition: .4s;
}

.slider::before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00a300;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00a300;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
