body{
  background-color: #f4e1d2;
}

canvas{
  border-radius: 10px;
}

table{
  table-layout: fixed;
}


#fadeOut{
  animation: fadeOut 3s;
}

@keyframes fadeOut {
  0% {opacity: 1}
  25% {opacity: 1}
  50% {opacity: 1}
  75% {opacity: 1}
  100% {opacity: 0}
}

.alertContainer{
  max-width: 20%;
  position: absolute !important;
  top: 15%;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 100;
  opacity: 0;
}

.navbar-custom{
  background-color: #b2b2b2;
}

.container-fluid{
  /* Forces max width for container fluid to 80% of the screen */
  max-width: 80% !important;
}

.carousel{
  width: 80%;
  margin: auto;
}

.carousel-item{
  max-height: 400px;
}
