body{
  background-color: #f4e1d2;
}

canvas{
  border-radius: 10px;
}

.navbar-custom{
  background-color: #b2b2b2;
}

.container-fluid{
  /* Forces max width for container fluid to 80% of the screen */
  max-width: 80% !important;
}

.carousel{
  width: 80%;
  margin: auto;
}

.carousel-item{
  max-height: 400px;
}
